@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake_v4;
}
@plugin "daisyui/theme" {
  name: "cupcake_v4";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.98 0.0042 56.38);
  --color-base-200: oklch(0.94 0.0076 61.45);
  --color-base-300: oklch(0.92 0.0068 53.44);
  --color-base-content: oklch(0.24 0.0662 313.19);
  --color-primary: oklch(0.76 0.0895 200.03);
  --color-primary-content: oklch(0.152344 0.017892 200.027);
  --color-secondary: oklch(0.79 0.1012 356.3);
  --color-secondary-content: oklch(45% 0.187 3.815);
  --color-accent: oklch(0.79 0.146 78.62);
  --color-accent-content: oklch(47% 0.157 37.304);
  --color-neutral: oklch(0.24 0.0662 313.19);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
