@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake_v4;
}
@plugin "daisyui/theme" {
  name: "cupcake_v4";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97.7882% 0.00418 56.375637);
  --color-base-200: oklch(93.9822% 0.007638 61.449292);
  --color-base-300: oklch(91.5861% 0.006811 53.440502);
  --color-base-content: oklch(23.5742% 0.066235 313.189598);
  --color-primary: oklch(76.172% 0.089459 200.026556);
  --color-primary-content: oklch(15.2344% 0.017892 200.026556);
  --color-secondary: oklch(78.9351% 0.101246 356.29965);
  --color-secondary-content: oklch(15.787% 0.020249 356.29965);
  --color-accent: oklch(79.3811% 0.146032 78.618794);
  --color-accent-content: oklch(15.8762% 0.029206 78.618794);
  --color-neutral: oklch(23.5742% 0.066235 313.189598);
  --color-neutral-content: oklch(84.7148% 0.013247 313.189598);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.150 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);

  /* border radius */
  --radius-selector: 1.9rem;
  --radius-field: 1.9rem;
  --radius-box: 1rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
